.localizacao-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.localizacao-info h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.info-item{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.info-icon{
    font-size: 1.2rem;
    margin-top: 0.1rem;
    flex-shrink: 0;
}

.info-item strong{
    display: block;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.15rem;
}

.info-item span{
    color: var(--cinza-texto);
    font-size: 0.85rem;
}

.mapa-placeholder{
    background: var(--card-bg);
    border: 3px dashed var(--cinza-texto);
    border-radius: 8px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    color: var(--cinza-texto);
    font-size: 0.9rem;
}

iframe{
    border-radius: 4px;
}

.mapa-placeholder span {
      font-size: 2.5rem;
    }