/*Classes Reutilizaveis*/
.section{
    padding: 5.5rem 5%;
}

.section-alt{
    background: var(--azul-medio);
}

.section-label{
    font-size: 0.72rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--amarelo);
    margin-bottom: 0.5rem;
}

.section-sub{
    color: var(--cinza-texto);
    font-size: 0.95rem;
    line-height: 1.75;
    max-width: 480px;
    margin-bottom: 3rem;
}
 /*Serviços*/

.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

.service-card{
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 18px;
    cursor: pointer;
    padding: 2rem 1.6rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.25s ease, border-color 0.25s ease;
}

/*Barra animada no topo de card*/

.service-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--amarelo);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.service-card:hover{
    transform: translateX(-5px);
    border-color: rgba(247, 183, 49, 0.22);
}

.service-card:hover:before{
    transform: scaleX(1);
}

.service-icon{
    font-size: 2.4rem;
    display: block;
    margin-bottom: 1rem;
}

.service-card h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.service-card p{
    color: var(--cinza-texto);
    font-size: 0.8rem;
    line-height: 1.65;
}

.service-price{
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.78rem;
    font-weight: 700;
    color: var(--amarelo);
    background: rgba(247, 183, 49, 0.1);
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
}